# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea
cmake-build-debug
cmake-build-msp430/CMakeCache.txt
cmake-build-msp430/CMakeFiles/3.14.5/CMakeCCompiler.cmake
cmake-build-msp430/CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
cmake-build-msp430/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_C.bin
cmake-build-msp430/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-msp430/CMakeFiles/3.14.5/CMakeSystem.cmake
cmake-build-msp430/CMakeFiles/3.14.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-msp430/CMakeFiles/3.14.5/CompilerIdC/tmp/
cmake-build-msp430/CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-msp430/CMakeFiles/3.14.5/CompilerIdCXX/tmp/
cmake-build-msp430/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-msp430/CMakeFiles/CMakeError.log
cmake-build-msp430/CMakeFiles/CMakeOutput.log
cmake-build-msp430/CMakeFiles/CMakeRuleHashes.txt
cmake-build-msp430/CMakeFiles/CMakeTmp/
cmake-build-msp430/CMakeFiles/Makefile.cmake
cmake-build-msp430/CMakeFiles/Makefile2
cmake-build-msp430/CMakeFiles/Progress/
cmake-build-msp430/CMakeFiles/TargetDirectories.txt
cmake-build-msp430/CMakeFiles/clion-environment.txt
cmake-build-msp430/CMakeFiles/clion-log.txt
cmake-build-msp430/CMakeFiles/cmake.check_cache
cmake-build-msp430/CMakeFiles/example.dir/
cmake-build-msp430/CMakeFiles/example.elf.dir/C.includecache
cmake-build-msp430/CMakeFiles/example.elf.dir/DependInfo.cmake
cmake-build-msp430/CMakeFiles/example.elf.dir/build.make
cmake-build-msp430/CMakeFiles/example.elf.dir/cmake_clean.cmake
cmake-build-msp430/CMakeFiles/example.elf.dir/depend.internal
cmake-build-msp430/CMakeFiles/example.elf.dir/depend.make
cmake-build-msp430/CMakeFiles/example.elf.dir/flags.make
cmake-build-msp430/CMakeFiles/example.elf.dir/link.txt
cmake-build-msp430/CMakeFiles/example.elf.dir/progress.make
cmake-build-msp430/CMakeFiles/feature_tests.bin
cmake-build-msp430/CMakeFiles/feature_tests.c
cmake-build-msp430/CMakeFiles/feature_tests.cxx
cmake-build-msp430/CMakeFiles/progress.marks
cmake-build-msp430/CMakeFiles/upload_example.dir/
cmake-build-msp430/MSP430G2553-blinking-led3s.cbp
cmake-build-msp430/MSP430G2553-blinking-leds.cbp
cmake-build-msp430/Makefile
cmake-build-msp430/cmake_install.cmake
